*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
    justify-content: center;
}
.square {
    width: calc(100% / 16);
    height: calc(100% / 16);
    border: 1px solid black;
}

#btn {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 18px;
}